
// Variables
@import "variables";

// Bootstrap
@import "bootstrap_custom";

.table {
    table-layout : fixed;
}

.center-block {
    float : none;
}

label > .form-control {
    font-weight : initial;
}

form:not(.form-horizontal) .form-group-multiple > *:first-of-type > .form-control,
form:not(.form-horizontal) .form-group-multiple > .form-control:first-of-type {
    border-bottom-right-radius : 0;
    border-bottom-left-radius  : 0;
    border-bottom              : none;
}

form:not(.form-horizontal) .form-group-multiple > *:last-of-type > .form-control,
form:not(.form-horizontal) .form-group-multiple > .form-control:last-of-type {
    border-top-right-radius : 0;
    border-top-left-radius  : 0;
    border-top              : none;
}

@media (min-width : $screen-sm-min) {
    .form-horizontal .form-group-multiple > *:first-of-type > .form-control,
    .form-horizontal .form-group-multiple > .form-control:first-of-type {
        border-bottom-right-radius : 0;
        border-bottom-left-radius  : 0;
        border-bottom              : none;
    }

    .form-horizontal .form-group-multiple > *:last-of-type > .form-control,
    .form-horizontal .form-group-multiple > .form-control:last-of-type {
        border-top-right-radius : 0;
        border-top-left-radius  : 0;
        border-top              : none;
    }
}
