<template>
    <div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav pull-left">
                    <router-link tag="li" :to="{ name: 'index' }" exact>
                        <a>Home</a>
                    </router-link>
                    <template v-if="user.role === 'teacher'">
                        <router-link tag="li" :to="{ name: 'subjects' }">
                            <a>Subjects</a>
                        </router-link>
                        <router-link tag="li" :to="{ name: 'students' }">
                            <a>Students</a>
                        </router-link>
                    </template>
                    <template v-if="user.role === 'student'">
                        <router-link tag="li" :to="{ name: 'preferences' }">
                            <a>Subjects</a>
                        </router-link>
                    </template>
                </ul>
                <ul v-if="user.role !== 'guest' && user.role !== ''" class="nav navbar-nav pull-right">
                    <p class="navbar-text">Hi {{ user.name }}</p>
                    <a class="btn navbar-link navbar-btn" @click.prevent="logout()">Log out</a>
                </ul>
                <ul v-else class="nav navbar-nav pull-right">
                    <router-link tag="li" :to="{ name: 'login' }">
                        <a>Login</a>
                    </router-link>
                    <router-link tag="li" :to="{ name: 'register' }" class="hidden-xs">
                        <a>Register</a>
                    </router-link>
                </ul>
            </div>
        </nav>

        <div class="container" is="router-view"></div>
    </div>
</template>

<script>
    export default {
        computed: {
            user() {
                return window.store.user;
            }
        },
        methods: {
            logout() {
                window.store.doLogout();
            }
        }
    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    .navbar {
        border-radius : 0;
    }

    .nav > li {
        display : inline-block;
    }

    .navbar-nav {
        margin : 0;
    }

    .navbar-nav > li > a {
        padding-top    : 14px;
        padding-bottom : 14px;
    }
</style>
