<template>
    <form class="col-sm-10 col-md-8 center-block form-horizontal" @submit.prevent="saveUser">
        <div class="form-group">
            <label class="col-sm-2 control-label">User ID</label>
            <p class="col-sm-10 form-control-static">{{ user.id }}</p>
            <label class="col-sm-2 control-label">User Type</label>
            <p class="col-sm-10 form-control-static">{{ user.type }}</p>
        </div>
        <div class="form-group form-group-multiple">
            <label class="col-sm-2 control-label" for="first-name">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="first-name" v-model="user.first_name" required>
            </div>
            <label class="col-sm-2 control-label" for="surname">Surname</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="surname" v-model="user.surname" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="dob">Date of Birth</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="dob" v-model="user.dob" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Gender</label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio"
                           name="gender"
                           id="gender-male"
                           value="male"
                           v-model="user.gender"
                           required> Male
                </label>
                <label class="radio-inline">
                    <input type="radio"
                           name="gender"
                           id="gender-female"
                           value="female"
                           v-model="user.gender"
                           required> Female
                </label>
            </div>
        </div>
        <br>
        <button class="btn btn-lg btn-primary center-block">Save</button>
        <br>
        <div class="alert alert-danger" v-if="errorMsg">{{ errorMsg }}</div>
        <div class="alert alert-success" v-else-if="showSuccess">Saved</div>
    </form>
</template>

<script>
    export default {
        props: ['userId'],
        data() {
            return {
                user: {},
                errorMsg: '',
                showSuccess: false,
            }
        },
        created() {
            this.fetchUser();
        },
        methods: {
            fetchUser() {
                window.axios.get(`/api/users/${this.userId}`).then(r => {
                    this.user = r.data;
                }, err => {
                    console.log(err);
                });
            },
            saveUser() {
                this.errorMsg = '';
                window.axios.patch(`/api/users/${this.userId}`, {
                    first_name: this.user.first_name,
                    surname: this.user.surname,
                    dob: this.user.dob,
                    gender: this.user.gender
                }).then(r => {
                    if (r.data) {
                        this.fetchUser();
                        window.store.fetchUser();
                        this.showSuccess = true;
                        window.setTimeout(() => this.showSuccess = false, 2500);
                    } else {
                        this.errorMsg = 'Failed to update information'
                    }
                })
            }
        },
    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    form {
        padding : 0;
    }
</style>
