<template>
    <form @submit.prevent="savePreferences()">
        <div class="row">
            <div class="col-sm-6" v-for="(unit, index) in selectedSubjects">
                <h4 class="text-center">Unit {{ index.slice(-1) }}</h4>
                <table class="table table-condensed table-hover">
                    <colgroup>
                        <col class="name">
                        <col class="remove">
                    </colgroup>
                    <tbody>
                    <tr v-for="(subject, index) in unit">
                        <td>{{ subject.name }}</td>
                        <td class="text-center remove">
                            <i class="glyphicon glyphicon-remove" @click="removeSubject(unit, index)"></i>
                        </td>
                    </tr>
                    <tr v-if="unit.length < 5">
                        <td colspan="2">
                            <select class="form-control" @change="addSubject(index, $event)" :key="unit.length">
                                <option selected></option>
                                <option v-for="subject in subjects" :value="subject.id">
                                    {{ subject.name }}
                                </option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" v-if="errorMsg">
            <div class="alert alert-warning">{{ errorMsg }}</div>
        </div>
        <div class="row">
            <button class="center-block btn btn-primary">Save</button>
        </div>
        <div class="row" v-if="showSuccess">
            <br>
            <div class="alert alert-success">Saved</div>
        </div>
    </form>
</template>

<script>
    export default {
        props: ['studentId'],
        data() {
            return {
                selectedSubjects: {},
                subjects: {},
                errorMsg: '',
                showSuccess: false,
            }
        },
        methods: {
            addSubject(unit, event) {
                if (event.target.value === '') return;

                let subject = this.subjects.find(e => String(e.id) === event.target.value);

                if (this.validateSelection(subject, unit)) {
                    this.errorMsg = '';
                    this.selectedSubjects[unit].push({
                        id: subject.id,
                        name: subject.name
                    });
                } else {
                    // If validation fails, reset the current selection
                    event.target.selectedIndex = 0;
                }
            },
            removeSubject(unit, index) {
                unit.splice(index, 1);
            },
            /**
             * @param {Object} subject
             * @param {string} unit
             */
            validateSelection(subject, unit) {
                /** @typedef {Array.<Object>} */
                const unitSelection = this.selectedSubjects[unit];

                const fail = message => this.errorMsg = message;

                /** Subject can only be selected once per unit */
                if (unitSelection.find(({name}) => name === subject.name)) {
                    fail(`${subject.name} cannot be selected twice in one unit`);
                    return false;
                }

                const isSelected = (name) => {
                    // Get a 2D array of all the selected subjects (we don't care about which unit they're in)
                    let selection = Object.values(this.selectedSubjects);
                    // Flatten the array and find name
                    return [].concat(...selection).find(e => e.name === name);
                };

                /** ESL and English cannot be selected at the same time */
                if (subject.name === 'English' && isSelected('ESL')
                    || subject.name === 'ESL' && isSelected('English')
                ) {
                    fail(`ESL and English cannot be selected at the same time`);
                    return false;
                }


                /** There cannot be more than 20 students per unit per subject */
                if (subject.students_count[unit] >= 20) {
                    fail(`${subject.name} is full. Please choose another class.`);
                    return false;
                }

                // All rules passed
                return true;
            },
            savePreferences() {
                if (
                    this.selectedSubjects.unit1.length != 5 ||
                    this.selectedSubjects.unit2.length != 5
                ) {
                    this.errorMsg = `You must select 5 subjects per semester`;
                    return false;
                }

                window.axios.patch(`/api/students/${this.studentId}`, {
                    subjects: this.selectedSubjects
                }).then(({data}) => {
                    this.loadSubjects();
                    this.selectedSubjects = data;
                    this.showSuccess      = true;
                    window.setTimeout(() => this.showSuccess = false, 2500);
                }, ({response}) => {
                    console.log(response.data.message);
                    this.errorMsg = response.data.message || 'Unknown server error. Please try again later';
                });
            },
            loadStudent() {
                window.axios.get(`/api/students/${this.studentId}`).then(r => {
                    this.selectedSubjects = r.data.subjects;
                });
            },
            loadSubjects() {
                window.axios.get(`/api/subjects`).then(r => {
                    this.subjects = r.data;
                });
            },
        },
        created() {
            this.loadStudent();
            this.loadSubjects();
        },
    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    .name {
        width : auto;
    }

    .remove {
        width       : 2em;
        cursor      : pointer;
        user-select : none;
    }
</style>
