<template>
    <div>
        <h1 class="center-block">Create new user</h1>
        <form class="col-sm-10 col-md-8 center-block form-horizontal"
              @submit.prevent="saveUser">
            <div class="form-group">
                <label class="col-sm-2 control-label">User ID</label>
                <p class="col-sm-10 form-control-static">{{ newId }}</p>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">User Type</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio"
                               name="user-type"
                               id="user-type-student"
                               value="student"
                               v-model="user.type"
                               required> Student
                    </label>
                    <label class="radio-inline">
                        <input type="radio"
                               name="user-type"
                               id="user-type-teacher"
                               value="teacher"
                               v-model="user.type"
                               required> Teacher
                    </label>
                </div>
            </div>
            <div class="form-group" v-if="user.type === 'student'">
                <label class="col-sm-2 control-label" for="form_group">Form Group</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="form_group" v-model="user.form_group">
                </div>
            </div>
            <div class="form-group form-group-multiple">
                <label class="col-sm-2 control-label" for="first-name">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="first-name" v-model="user.first_name">
                </div>
                <label class="col-sm-2 control-label" for="surname">Surname</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="surname" v-model="user.surname">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="dob">Date of Birth</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="dob" v-model="user.dob">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Gender</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio"
                               name="gender"
                               id="gender-male"
                               value="male"
                               v-model="user.gender"
                               required> Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio"
                               name="gender"
                               id="gender-female"
                               value="female"
                               v-model="user.gender"
                               required> Female
                    </label>
                </div>
            </div>
            <br>
            <button class="btn btn-lg btn-primary center-block">Create</button>
            <br>
            <div class="alert alert-danger" v-if="errorMsg">{{ errorMsg }}</div>
            <div class="alert alert-success" v-else-if="showSuccess">User created</div>
        </form>
    </div>
</template>

<script>
    import debounce from "lodash/debounce";

    export default {
        data() {
            return {
                user: {
                    type: 'student',
                    surname: '',
                },
                errorMsg: '',
                showSuccess: false,
            }
        },
        watch: {
            "user.surname": (value) => {
                debounce(() => {
                    window.axios.post(`/api/users/sequentialId`, {
                        surname: this.user.surname,
                    }).then(res => {
                        console.log(res.data);
                    }, err => console.log(err));
                }, 250)
            }
        },
        computed: {
            newId() {
                if (this.user.surname.length < 3) return '';

                if (this.user.type === 'teacher') {
                    return this.user.surname.substring(0, 3).toUpperCase();
                } else if (this.user.type === 'student') {
                    let number = ('000' + Math.random() * 1000).slice(-3);
                    return this.user.surname.substring(0, 3).toUpperCase() + number;
                }
            },
        },
        methods: {
            saveUser() {
                axios.post('/api/user/create', {}).then(r => {
                    console.log(r);
                }, err => {
                    console.error(err);
                });
            },
            resetForm() {
                this.user = {};
                this.errorMsg = '';
                this.showSuccess = false;
            },
        },
    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    form {
        padding-left  : 0;
        padding-right : 0;
    }
</style>
