<template>
    <div>
        <edit-user :userId="user.id" :self="true" />
    </div>
</template>

<script>
    import editUser from '../../edit-user.vue';

    export default {
        data() {
            return {
                user: window.store.user,
            }
        },
        components: {
            editUser,
        },
    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    //
</style>
