<template>
    <div>
        <h2 v-show="Object.keys(user).length > 0" class="text-center">
            Editing {{ user.first_name }} {{ user.surname }}
        </h2>
        <hr>
        <edit-user :userId="studentId" :self="false" />
    </div>
</template>

<script>
    import editUser from '../../edit-user.vue';

    export default {
        props: ['studentId'],
        data() {
            return {
                user: {}
            }
        },
        created() {
            window.axios.get(`/api/users/${this.studentId}`).then(r => {
                this.user = r.data;
            }, err => console.log(err));
        },
        components: {
            editUser,
        },
    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    //
</style>
