<template>
    <div>
        <div v-if="user.role === 'guest'">
            <h1>You are not logged in</h1>
            <router-link :to="{name: 'login'}" class="btn btn-lg btn-primary">
                Login
            </router-link>
        </div>
        <div v-else-if="user.role === 'student'">
            <h1>Hello {{ user.name }}</h1>
            <router-link :to="{name: 'editSelf'}">Edit my profile</router-link>
        </div>
        <div v-else-if="user.role === 'teacher'">
            <h1>Hello {{ user.name }}</h1>
            <router-link :to="{name: 'editSelf'}" tag="p">
                <a>Edit my profile</a>
            </router-link>
            <router-link :to="{name: 'createUser'}" tag="p">
                <a>Create a new user</a>
            </router-link>
        </div>
        <div v-else>Loading...</div>
    </div>
</template>

<script>
    export default {
        computed: {
            user() {
                return window.store.user;
            }
        }
    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    //
</style>
