<template>
    <div>
        <form class="col-sm-6 col-md-4 center-block" @submit.prevent="submitLogin()">
            <h2>Log in</h2>
            <div class="form-group-multiple">
                <input type="text" v-model="user" class="form-control input-user" placeholder="User ID" required autofocus>
                <input type="password"
                       v-model="password"
                       class="form-control input-password"
                       placeholder="Password"
                       required>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="remember"> Stay logged in
                </label>
            </div>
            <div class="alert alert-danger" v-if="errorMsg && (!user | !password)">{{ errorMsg }}</div>
            <button class="btn btn-large btn-primary btn-block btn-login" type="submit">Login</button>
            <br>
            <router-link :to="{ name: 'register' }" class="register-link">
                Register
            </router-link>
        </form>
    </div>
</template>

<script>
    export default {
        props: {
            redirect: {default: '/'},
        },
        data() {
            return {
                user: '',
                password: '',
                remember: true,
                errorMsg: '',
            }
        },
        methods: {
            submitLogin() {
                this.errorMsg = '';
                window.store.doLogin(
                    this.user,
                    this.password,
                    this.remember
                ).then(r => {
                    if (r) this.$router.push(this.redirect);
                }, err => {
                    this.password = '';
                    if (err.status === 401) {
                        this.errorMsg = 'Incorrect username or password';
                    } else {
                        this.errorMsg = 'Unknown server error. Please try again later'
                    }
                });
            }
        }
    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    .form-group > input {
        border-radius : 0;
    }

    .form-group > input:first-child {
        border-radius : 4px 4px 0 0;
    }

    .form-group > input:last-child {
        border-radius : 0 0 4px 4px;
    }
</style>
