<template>
    <div>
        <h3 class="text-center">Select Subjects</h3>
        <preference-selection :studentId="user.id"/>
    </div>
</template>

<script>
    import preferenceSelection from '../../preference-selection.vue';
    export default {
        data() {
            return {
                user: window.store.user,
            }
        },
        components: {
            preferenceSelection,
        }
    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    //
</style>
