<template>
    <div>
        <h2>Students</h2>
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th class="col-id" @click="updateSort('id')">
                    ID
                    <span class="pull-right" v-if="sortField === 'id'">
                        {{ sortDirection === 'asc' ? '&utrif;' : '&dtrif;'}}
                    </span>
                </th>
                <th class="col-name" @click="updateSort('first_name')">
                    Name
                    <span class="pull-right" v-if="sortField === 'first_name'">
                        {{ sortDirection === 'asc' ? '&utrif;' : '&dtrif;'}}
                    </span>
                </th>
                <th class="col-formgroup" @click="updateSort('form_group')">
                    Form Group
                    <span class="pull-right" v-if="sortField === 'form_group'">
                        {{ sortDirection === 'asc' ? '&utrif;' : '&dtrif;'}}
                    </span>
                </th>
                <th class="col-unit1">Unit 1</th>
                <th class="col-unit2">Unit 2</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="student in sortedStudents" v-if="sortedStudents.length > 0">
                <router-link tag="td" :to="{ name: 'student', params: { studentId: student.id}}" append>
                    <a>{{ student.id }}</a>
                </router-link>
                <router-link tag="td" :to="{ name: 'student', params: { studentId: student.id}}" append>
                    <a>{{ student.first_name }} {{ student.surname }}</a>
                </router-link>
                <td>
                    {{ student.form_group }}
                </td>
                <td>{{ student.subjects.unit1.length }}</td>
                <td>{{ student.subjects.unit2.length }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                students: [],
                sortField: 'id',
                sortDirection: 'asc'
            }
        },
        computed: {
            sortedStudents() {
                return this.students.sort((a, b) => {
                    let varA = a[this.sortField];
                    let varB = b[this.sortField];
                    let val;

                    if (varA > varB)  val = 1;
                    if (varA == varB) val = 0;
                    if (varA < varB)  val = -1;

                    return (this.sortDirection === 'asc') ? val : -val;
                })
            }
        },
        methods: {
            updateSort(field) {
                if (this.sortField === field) {
                    return this.sortDirection = (this.sortDirection === 'asc') ? 'desc' : 'asc';
                }
                this.sortDirection = 'asc';
                this.sortField     = field;
            },
        },
        created() {
            axios.get('api/students').then(r => this.students = r.data);
        },
    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    thead {
        user-select : none;
    }

    .col-id {
        width : 6em;
    }

    .col-name {
        width : auto;
    }

    .col-formgroup {
        width : 8em;
    }

    .col-id,
    .col-name,
    .col-formgroup {
        cursor : pointer;
    }

    .col-unit1,
    .col-unit2 {
        width : 5em;
    }
</style>
