<template>
    <div v-if="Object.keys(student).length > 0">
        <h2 v-if="Object.keys(student).length > 0" class="text-center">
            {{ student.first_name }} {{ student.surname }} ({{ student.id }})
        </h2>
        <hr>
        <div class="row">
            <b class="col-xs-5 text-right">Gender:</b>
            <div class="col-xs-7">{{ student.gender }}</div>
        </div>
        <div class="row">
            <b class="col-xs-5 text-right">Date of Birth:</b>
            <div class="col-xs-7">{{ student.dob }}</div>
        </div>
        <div class="row">
            <b class="col-xs-5 text-right">Form Group:</b>
            <div class="col-xs-7">{{ student.form_group }}</div>
        </div>
        <router-link :to="{ name: 'editStudent', params: { studentId: student.id }}" class="pull-right">edit...</router-link>
        <hr>
        <div class="row">
            <h3 class="text-center">Subject Selection</h3>
            <preference-selection :studentId="studentId" />
        </div>
        <router-link :to="{ name: 'students' }">&larr; Back to students</router-link>
    </div>
</template>

<script>
    import preferenceSelection from '../../preference-selection.vue';

    export default {
        props: ['studentId'],
        data() {
            return {
                student: {},
            }
        },
        created() {
            axios.get(`/api/students/${this.studentId}`).then(r => this.student = r.data);
        },
        components: {
            preferenceSelection,
        },
    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    //
</style>
