<template>
    <div>
        <h2>Subjects</h2>
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th class="col-subject">Subject</th>
                <th class="col-unit1">Unit 1</th>
                <th class="col-unit2">Unit 2</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="subject in subjects" v-if="subjects.length > 0">
                <router-link tag="td" :to="String(subject.id)" append><a>{{ subject.name }}</a></router-link>
                <td>{{ subject.students_count.unit1 }}</td>
                <td>{{ subject.students_count.unit2 }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                subjects: [],
            }
        },
        created() {
            axios.get('api/subjects').then(r => this.subjects = r.data);
        },
    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    .col-subject{
        width : auto;
    }

    .col-unit1,
    .col-unit2 {
        width : 5em;
    }
</style>
