<template>
    <div>
        <h2 v-if="Object.keys(subject).length > 0">{{ subject.name }}</h2>
        <div class="row">
            <div v-for="(unit, index) in subject.students" class="col-sm-6">
                <h3 class="text-center">Unit {{ index.slice(-1) }}</h3>
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th class="col-id">ID</th>
                        <th class="col-name">Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="student in unit">
                        <router-link tag="td" :to="{ name: 'student', params: { studentId: student.id }}">
                            <a>{{ student.id }}</a>
                        </router-link>
                        <router-link tag="td" :to="{ name: 'student', params: { studentId: student.id }}">
                            <a>{{ student.first_name }} {{ student.surname }}</a>
                        </router-link>
                    </tr>
                    </tbody>
                </table>
                <hr class="visible-xs">
            </div>
        </div>
        <router-link to="/subjects">&larr; Back to subjects</router-link>
    </div>
</template>

<script>
    export default {
        props: ['subjectId'],
        data() {
            return {
                subject: {},
            }
        },
        created() {
            axios.get(`/api/subjects/${this.subjectId}`).then(r => this.subject = r.data);
        },
    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    .col-id {
        width : 6em;
    }
    .col-name {
        width : auto;
    }
</style>
